@charset "UTF-8";

@import url('conan_brand_color.css');
@import url('conan_aside_color.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');


/**********************************************/
/* 00. 기본 설정 *******************************/
/**********************************************/
html {
	font-size: 15px;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #444444;
}
a {
	/*color: #ff6600;*/
	color: #444444;
}
a:hover,
a:focus {
	color: #ff6600;
}
.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
table caption {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	box-sizing: border-box;
	color: #444444;
	caption-side: top;
}

/**********************************************/
/* 01. 공통 설정 *******************************/
/**********************************************/
/* 디스플레이 */
.dp-block {
	display: block;
}
.dp-inline {
	display: inline-block;
}
.dp-none {
	display: none;
}
.mobile-end {
	display: block;
}
.flex {
	display: -webkit-box; /* Android 2.1 ~ 4.3, iso 6-, safari 3.1-6 */
	display: -moz-box; /* firefox 19- */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Chrome */
	display: flex;
	/*white-space: nowrap;*/
}
.flex--column {
	-webkit-box-orient: vertical; /* Android 2.1 ~ 4.3, iso 6-, safari 3.1-6 */
	-moz-box-orient: vertical; /* firefox 19- */
	-ms-flex-direction: column; /* IE 10 */
	-webkit-flex-direction: column; /* Chrome */
	flex-direction: column;
}
.flex--justify-center {
	-webkit-box-pack: center; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
	-moz-box-pack: center; /* Firefox 19- */
	-ms-flex-pack: center; /* IE10 */
	-webkit-justify-content: center; /* Chrome */
	justify-content: center;
}
.flex--justify-between {
	-webkit-box-pack: justify; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
	-moz-box-pack: justify; /* Firefox 19- */
	-ms-flex-pack: justify; /* IE10 */
	-webkit-justify-content: space-between; /* Chrome */
	justify-content: space-between;
}
.flex--justify-flex-start {
	-webkit-box-pack: start; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
	-moz-box-pack: start; /* Firefox 19- */
	-ms-flex-pack: start; /* IE10 */
	-webkit-justify-content: flex-start; /* Chrome */
	justify-content: flex-start;
}
.flex--justify-flex-end {
	-webkit-box-pack: end; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
	-moz-box-pack: end; /* Firefox 19- */
	-ms-flex-pack: end; /* IE10 */
	-webkit-justify-content: flex-end; /* Chrome */
	justify-content: flex-end;
}
.flex--align-center {
	-webkit-box-align: center; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
	-moz-box-align: center; /* Firefox 19- */
	-ms-flex-align: center; /* IE10 */
	-webkit-align-items: center; /* Chrome */
	align-items: center;
}
.flex--align-end {
	-webkit-box-align: end; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
	-moz-box-align: end; /* Firefox 19- */
	-ms-flex-align: end; /* IE10 */
	-webkit-align-items: flex-end; /* Chrome */
	align-items: end;
}
.flex--align-flex-start {
	align-items: flex-start;
}
.flex.flex--full .flex__item {
	width: 100%;
}
.flex > .flex__item--align-center {
	align-self: center;
}
.flex > .flex__item--align-start {
	align-self: flex-start;
}
.flex > .flex__item--align-end {
	align-self: flex-end;
}
.flex > .flex__item--align-center-right {
	align-self: center;
	margin-left: auto;
	text-align: right;
}
.flex.flex--wrap {
	flex-wrap: wrap;
}


@media screen and (max-width: 768px){
	.mobile-end {
		display: none;
	}
}




/* 마진 패딩 */
.remove-mg {
	margin: 0;
}
.mg-l-05 {
	margin-left: 0.5rem;
}
.mg-r-05 {
	margin-right: 0.5rem;
}
/* 버튼 */
.btn {
	margin: 0 0.1rem;
}
.quick-btn__wrap .btn {
	margin: 0.7rem 0;
}
.btn-xxs {
	padding: 0.1rem 0.5rem;
	font-size: 0.8rem;
}
.btn-xs {
	padding: 0.15rem 0.7rem;
	font-size: 0.9rem;
}
.btn-main {
	position: relative;
	color: #ffffff !important;
	background-color: #f57b29 !important;
	border-color: #f57b29 !important;
}
.show > .btn-main.dropdown-toggle,
.btn-main:focus,
.btn-main.active,
.btn-main:active,
.btn-main:hover {
	color: #ffffff !important;
	background-color: #f36507 !important;
	border-color: #f36507 !important;
}
.btn-main--light {
	position: relative;
	background-color: #ffe7d6 !important;
	border-color: #ffe7d6 !important;
}
.show > .btn-main--light.dropdown-toggle,
.btn-main--light:focus,
.btn-main--light.active,
.btn-main--light:active,
.btn-main--light:hover {
	color: #ffffff !important;
	background-color: #f57b29 !important;
	border-color: #f57b29 !important;
}
.btn-sub {
	position: relative;
	color: #ffffff !important;
	background-color: #666666!important;
	border-color: #666666 !important;
}
.show > .btn-sub.dropdown-toggle,
.btn-sub:focus,
.btn-sub.active,
.btn-sub:active,
.btn-sub:hover {
	background-color: #444444 !important;
	border-color: #444444 !important;
}
.btn-sub--light {
	position: relative;
	background-color: #efefef!important;
	border-color: #efefef !important;
}
.show > .btn-sub--light.dropdown-toggle,
.btn-sub--light:focus,
.btn-sub--light.active,
.btn-sub--light:active,
.btn-sub--light:hover {
	color: #ffffff !important;
	background-color: #aaaaaa !important;
	border-color: #aaaaaa !important;
}
.btn-outline--main {
	color: #f57b29 !important;
	background-color: transparent !important;
	background-image: none !important;
	border-color: #f57b29 !important;
}
.show > .btn-outline--main.dropdown-toggle,
.btn-outline--main:focus,
.btn-outline--main.active,
.btn-outline--main-sub:active,
.btn-outline--main:hover {
	color: #ffffff !important;
	background-color: #f57b29 !important;
	border-color: #f57b29 !important;
}
.btn-outline--sub {
	color: #666666 !important;
	background-color: transparent !important;
	background-image: none !important;
	border-color: #666666 !important;
}
.show > .btn-outline--sub.dropdown-toggle,
.btn-outline--sub:focus,
.btn-outline--sub.active,
.btn-outline--sub:active,
.btn-outline--sub:hover {
	color: #ffffff !important;
	background-color: #666666 !important;
	border-color: #666666 !important;
}

/* 테이블 --- 기본 */
.table.table-fixed {
	table-layout: fixed;
}
.table.table-fixed th, .table.table-fixed td{
	white-space: normal;
	word-break: break-all;
}
.table th, .table td, .table thead th {
	white-space: nowrap;
	vertical-align: middle;
}
.table-bordered th, .table-bordered td {
	border: 1px solid #eaeaea;
}
.table .thead-light th {
	color: inherit;
	background-color: #e7e7e7;
	border-color: #eaeaea;
	border-bottom: none;
}
/*.table tr .quantity {*/
/*	min-width: 100px;*/
/*	max-width: 120px;*/
/*}*/
/*.table tr .unit-price {*/
/*	min-width: 120px;*/
/*	max-width: 150px;*/
/*}*/
/*.table tr .remarks {*/
/*	min-width: 150px;*/
/*}*/
.table tr .request {
	min-width: 200px;
	white-space: break-spaces;
}


/* 테이블 --- 슬림 */
.table.table--slim {
	font-size: 0.9rem;
}
.table.table--slim th, .table.table--slim td {
	padding: 0.4rem 0.5rem;
	word-break: break-all;
}
.table.table--slim th, .table.table--slim td .form-control {
	height: calc(2rem + 2px);
}


/* 페이지네이션 */
.btn--ch-wrap {
	position: relative;
	margin: 24px auto 0;
	text-align: center;
}
.intra-pagination {
	display: inline-block;
	position: relative;
	margin: 0 5px;
	border-radius: 3px;
	border: 1px solid #ebedf2;
	background: #ffffff;
	color: #dbdbdb;
	font-size: 14px;
}
.intra-pagination.on {
	padding :0 10px;
	background: #a1a8c3;
	color: white;
}
.intra-pagination-wrap > div > a {
	padding: 0 10px;
	color: #a1a8c3;
}

/* 폼 인풋 */
.form-group label {
	position: relative;
}
.form-group > label {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	font-weight: 700;
}
/*.form-group label:after {
	position: absolute;
	top: 4px;
	left: 0;
	width: 4px;
	height: 1.2rem;
	background: #666666;
	content: '';
}*/
.form-group label.label__icon {
	padding-left: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
}
.form-group label.label__icon:after {
	position: absolute;
	top: 1px;
	left: 0.2rem;
	font-family: "Font Awesome 5 Free";
	content: '\f0da';
}
.form-group label.label__icon-center:after {
	top: 50%;
	transform: translateY(-50%);
}
.form-group .label__btn {
	padding: 0 0.5rem;
	margin-left: 0.5rem;
}
.input-group {
	margin-bottom: 0.5rem;
}
.form-control {
	padding: 0.3rem;
	font-size: 13px;
	color: #999999;
	background-color: #ffffff;
	border-color: #d9d9d9;
}
.form-control:focus {
	border-color: #f57b29;
}
.form-control::placeholder {
	color: #999999;
}
.form-control:-ms-input-placeholder {
	color: #999999;
}
.custom-select {
	padding-right: 2rem;
}
.k_selectpicker + button {
	font-size: 13px;
	line-height: 1.5rem;
}

/* 인풋 - 라디오 */
input[type="radio"] {
	position: absolute;
	left: -9999px;
}
input[type="radio"] + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #333;
}
input[type="radio"] + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
}
input[type="radio"] + label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #f57b29;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
input[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* 체크 박스 */
.custom-check{
	width: 18px;
	height: 18px;
}
.k-checkbox > span {
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #d9d9d9;
}
.k-checkbox > input:checked ~ span {
	background: #f36507;
	border: 1px solid #f36507;
}
.k-checkbox > span:after {
	border: solid #ffffff;
}


ol.reset-list, ul.reset-list, dl.reset-list {
	margin: 0;
	padding: 0;
}
ol.reset-list li, ul.reset-list li, dl.reset-list li {
	list-style: none;
}
.reset-list.list__left-bar > li:not(:first-child) {
	position: relative;
	margin-left: 0.5rem;
	padding-left: 0.5rem;

}
.reset-list.list__left-bar > li:not(:first-child):before {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 1rem;
	background: #888888;
	content: '';
}

/**********************************************/
/* 02-2. bootstrap ****************************/
/**********************************************/
/* bootstrap card */
.card-row .card {
	margin-bottom: 2rem;
}
.card {
	border: 1px solid #dddddd;
}
.card.card-height__auto {
	height: calc(100% - 30px);
}
.card-header {
	display: -webkit-box; /* Android 2.1 ~ 4.3, iso 6-, safari 3.1-6 */
	display: -moz-box; /* firefox 19- */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Chrome */
	display: flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #efefef;
}
.card-header .card-tool {
	margin-left: auto;
}
.card-title {
	font-size: 1.3rem;
	font-weight: 600;
}


/* bootstrap select */
.bootstrap-select > .dropdown-toggle.btn-light:focus,
.bootstrap-select > .dropdown-toggle.btn-light.active,
.bootstrap-select > .dropdown-toggle.btn-secondary:focus,
.bootstrap-select > .dropdown-toggle.btn-secondary.active {
	border-color: #f57b29;
}
.bootstrap-select > .dropdown-toggle.btn-light,
.bootstrap-select > .dropdown-toggle.btn-secondary {
	color: #495057;
	border-color: #d9d9d9;
}
.bootstrap-select.show > .dropdown-toggle.btn-light,
.bootstrap-select.show > .dropdown-toggle.btn-secondary {
	border-color: #f57b29;
}
.bootstrap-select .dropdown-menu.inner > li > a .text {
	color: #495057;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a .text,
.bootstrap-select .dropdown-menu.inner > li:hover > a .text {
	color: #333333;
}
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a {
	background: #f57b29;
}


/* bootstrap datepicker */
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
	background: #ff6600;
}
.datepicker tbody tr > td > span.month.active:hover,
.datepicker tbody tr > td > span.month.active.focused:hover,
.datepicker tbody tr > td > span.month.active {
	background: #ff6600;
}
.datepicker tbody tr > td.day.selected,
.datepicker tbody tr > td.day.selected:hover,
.datepicker tbody tr > td.day.active,
.datepicker tbody tr > td.day.active:hover {
	background: #f57b29;
}
.datepicker tbody tr > td > span.month.active:hover,
.datepicker tbody tr > td > span.month.active.focused:hover,
.datepicker tbody tr > td > span.month.active {}
.datepicker tbody tr > td.day.today {
	background: #efb28a;
}


/* bootstrap modal */
.modal-header {
	background: #36373b;
}
.modal .modal-content .modal-header .modal-title {
	color: #ffffff;
}
.modal .modal-content .modal-header .close {
	color: #ffffff;
	text-shadow: none;
	opacity: 1;
}
.modal .modal-content .modal-header .close:hover {
	color: #f36507;
}
.modal-img {
	max-width: 426px;
}




/**********************************************/
/* 02-3. keen custom **************************/
/**********************************************/
#k_wrapper {
	margin-top:-75px
}
.k-aside--on .k-aside-close {
	top: 15px;
	left: 234px;
}
.icon_active:before {
	color: #f57b29;
}
.k-content {
	background-color: #fafafa;
}
.k-portlet {
	box-shadow: 3px 4px 13px 3px rgb(82 63 105 / 7%);
}
.k-portlet .k-portlet__head.k-portlet__head--light {
	background: #efefef;
}
.k-portlet .k-portlet__head .k-portlet__head-label .k-portlet__head-title {
	padding: 1rem 0;
	color: #444444;
}
.k-portlet__body .k-portlet__body-tool {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	/*margin-bottom: 1rem;*/
	min-height: initial !important;
	height: auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.k-portlet__body .tool-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*-webkit-box-align: center;*/
	/*-ms-flex-align: center;*/
	/*align-items: center;*/
	-ms-flex-line-pack: flex-first;
	align-content: flex-start;
}
.k-portlet__body .toolbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*-webkit-box-align: center;*/
	/*-ms-flex-align: center;*/
	/*align-items: center;*/
	flex-direction: column;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	flex-wrap: wrap;
}
/*.k-portlet__body .toolbar .form-control {*/
/*	height: calc(2rem + 2px);*/
/*}*/
/*.k-portlet__body .toolbar .form-control .dropdown-toggle {*/
/*	padding: 0.3rem 1rem;*/
/*}*/
.k-portlet__body .toolbar .input-group-text {
	padding: 0.3rem 1rem;
	font-size: 13px;
}
/*.k-portlet__body .toolbar .btn {*/
/*	padding: 0 1rem;*/
/*}*/
/*.k-portlet__body .toolbar .k-form__group:not(:last-of-type) {*/
/*	margin-right: 1rem;*/
/*}*/
.k-portlet__body .toolbar .k-form__group {
	width: 100%;
}
.k-portlet__body .toolbar .k-form__group .k-form__label,
.k-portlet__body .toolbar .k-form__group .input-group {
	align-self: center;
}
.k-portlet__body .toolbar .k-form__group.k-form__group--inline > .k-form__control {
	width: auto;
}




@media screen and (max-width: 1024px) {
	#k_wrapper {
		margin-top: 0;
	}
	.k-aside-close {
		left: -35px;
	}
	.k-aside-close > i {
		position: absolute;
		left: 0;
		right: 0;
	}
	.k-aside-close:hover {
		background-color: #f57b29;
	}
	.k-portlet__body .k-portlet__body-tool {

	}
}

@media screen and (max-width: 768px) {
	.k-portlet__head-title span {
		display: block;
		margin-top: 0.5rem;
	}
	.k-portlet__body-tool {
		flex-direction: column;
	}
	.k-portlet__body .toolbar .k-form__group {
		width: 100%;
	}
	/*.k-portlet__body .toolbar .k-form__group:not(:last-of-type) {*/
	/*	margin-right: 0rem;*/
	/*}*/
	.k-portlet__body .toolbar .k-form__group.k-form__group--inline > .k-form__control,
	.k-portlet__body .toolbar .k-form__group.k-form__group--inline > div {
		display: block;
		width: 100%;
		margin-top: 1rem;
	}
}

/**********************************************/
/* 03. furmax custom **************************/
/**********************************************/
.overflow-x-auto {
	overflow-x: auto;
}
.overflow-x-auto .row {
	min-width: 1024px;
}
.word-break-all {
	word-break: break-all;
}

/* 줄바꿈 */
.line_clamp {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* box */
.box {
	position: relative;
	padding: 1.5rem;
}
.box.box--bg {
	background: #fafafa;
}
.box.box--bd {
	border: 1px solid #dddddd;
	border-radius: 4px;
}

/* 팝업 */
.popup-preview {
	width: 100%;
	max-width: 375px;
	height: 100%;
	max-height: 600px;
}



/**********************************************/
/* 03-0. furmax custom - dashboard ************/
/**********************************************/
.f-widget-01 {
	margin: 0.7rem 0;
	padding: 1rem;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
.f-widget-01 .f-widget-01__wrapper .f-widget-01__title {
	font-size: 1rem;
	font-weight: 600;
}
.f-widget-01 .f-widget-01__wrapper .f-widget-01__num {
	color: #f57b29;
	font-size: 2.4rem;
	line-height: 2.4rem;
	text-align: right;
}
.f-widget-01.hover:hover {
	border: 1px solid #f57b29;
}

.quick-btn__wrap .btn {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.1rem;
}
.quick-btn__wrap .btn > div {
	margin-bottom: 0.8rem;
}
.quick-btn__wrap .btn > div i {
	font-size: 1.6rem;
}

@media screen and (max-width: 575px) {
	.f-widget-01 {
		padding: 1rem 0.5rem;
	}
	.f-widget-01 .f-widget-01__wrapper {
		text-align: center;
	}
	.f-widget-01 .f-widget-01__wrapper .f-widget-01__num {
		font-size: 1.8rem;
		text-align: center;
	}
}

/**********************************************/
/* 03-1. furmax custom - admin ****************/
/**********************************************/
/* adminWrite */
#rightMenuTxt .radio-wrap {
	width: calc(100% - 40px);
}
.label-box{
	/*width: 320px;*/
	border-right: 1px solid #dee2e6;
}
.radio-box {
	width: 200px;
	display: inline-block;
}


/**********************************************/
/* 03-2. furmax custom - product **************/
/**********************************************/
.k-portlet__body .title {
	margin-bottom: 1.5rem;
	padding: 0.7rem 1rem 0.7rem 0.5rem;
	background: #efefef;
	border-bottom: 2px solid #666666;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	font-size: 1.3rem;
	font-weight: 600;
}
.k-portlet__body > .row:not(:first-child) .title {
	margin-top: 3rem;
}

.k-portlet__body .title__sub {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dddddd;
}
.k-portlet__body .title__sub.form-group {
	margin-bottom: 1rem;
}

.table.table--option {
	min-width: 700px;
}
.table--option table .no {
	width: 130px;
}
.table--option table .order {
	width: 100px;
}
.table--option table .dz-code {
	width: 100px;
}
.table--option table .dz-standard {
	width: 350px;
}
.table--option table .location-code {
	width: 180px;
}
.table--option table .location-view {
	width: 120px;
}
.table--option table .location-set {
	width: 120px;
}
.table--option table .function {
	width: 80px;
}
#explainArea .form-group {
	margin-bottom: 0;
}
#explainArea .ck.ck-editor__main {
	border-bottom: none;
}
.color-wrap {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #dddddd;
	overflow: hidden;
	vertical-align: middle;
}
.color-wrap.color-wrap--sm {
	width: 35px;
	height: 35px;
}
.color-thumbnail {
	position: absolute;
	top: -5px;
	left: 50%;
	width: 60px;
	transform: translateX(-50%);
}



/**********************************************/
/* 03-3. furmax custom - estimate & order *****/
/**********************************************/
.estimate-list .table--estimate-list table th,
.estimate-list .table--estimate-list table td,
.order-list .table--order-list table th,
.order-list .table--order-list table td {
	white-space: break-spaces;
}
.estimate-list .table--estimate-list table .no,
.order-list .table--order-list table .no {
	width: 50px;
}
.estimate-list .table--estimate-list table .model-code,
.order-list .table--order-list table .model-code {
	width: 120px;
}
.estimate-list .table--estimate-list table .dz-code,
.order-list .table--order-list table .dz-code {
	width: 80px;
}
.estimate-list .table--estimate-list table .product-name,
.order-list .table--order-list table .product-name {
	width: 250px;
}
.estimate-list .table--estimate-list table .dz-standard,
.order-list .table--order-list table .dz-standard{
	width: 250px;
}
.estimate-list .table--estimate-list table .remark,
.order-list .table--order-list table .remark {
	width: 150px;
}
.estimate-list .table--estimate-list table .quantity,
.order-list .table--order-list table .quantity {
	width: 80px;
}
.estimate-list .table--estimate-list table .unit-price,
.order-list .table--order-list table .unit-price {
	width: 100px;
}
.estimate-list .table--estimate-list table .supply-price,
.order-list .table--order-list table .supply-price {
	width: 100px;
}
.estimate-list .table--estimate-list table .tax,
.order-list .table--order-list table .tax {
	width: 100px;
}
.estimate-list .table--estimate-list table .sum-price,
.order-list .table--order-list table .sum-price {
	width: 120px;
}
.estimate-write .table--estimate-list table .quantity,
.order-write .table--order-list table .quantity {
	min-width: 100px;
}
.estimate-write .table--estimate-list table .unit-price,
.order-write .table--order-list table .unit-price {
	min-width: 100px;
}
.estimate-write .table--estimate-list table .remark,
.order-write .table--order-list table .remark {
	min-width: 100px;
}



/**********************************************/
/* 03-4. furmax custom - community ************
/**********************************************/
.list-wrapper table {
	width: 1560px;
	min-width: 1200px;
}

/**********************************************/
/* 03-5. furmax custom - site *****************/
/**********************************************/
.nav-pills.nav-tabs-btn .nav-item .nav-link {
	padding: 1rem 2rem;
}
.nav-pills.nav-tabs-btn.nav-pills-btn-brand a.nav-link.active {
	background: #f57b29;
}
.k-widget-1 .k-widget-1__item .k-widget-1__item-info .k-widget-1__item-title:hover {
	color: #ff6600;
}
.k-widget-1 .k-widget-1__item .k-widget-1__item-info .k-widget-1__item-desc {
	color: #aaaaaa;
	font-size: 0.9rem;
}
.nav-tabs.nav-tabs-line .nav-item:not(:first-of-type) {
	margin-left: 1.5rem;
}
.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link,
.nav-tabs.nav-tabs-line a.nav-link {
	color: #444444;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active {
	color: #ff6600;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active {
	color: #ff6600;
	border-bottom: 2px solid #ff6600;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover > i,
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active > i,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover > i,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active > i {
	color: #ff6600;
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
	.k-widget-1 .nav.nav-pills.nav-tabs-btn > .nav-item > .nav-link {
		padding: 1rem 1.5rem;
	}
}

/**********************************************/
/* 04. furmax custom - plug in ****************/
/**********************************************/
/* ck-editor */
.ck.ck-editor__main {
	height: 500px;
	overflow-x: scroll;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}
.ck.ck-editor__main .ck-content {
	height: 100%;
}
.ck-content:after {
	display: block;
	clear: both;
	content: '';
}
.ck-content .image > figcaption {
	min-height: inherit !important;
}
.ck-content .image > img {
	width: 100%;
	max-width: 700px !important;
}



